/*header css*/

.heading {
	font-size: 40px;
	text-align: center;
	padding: 20px;
	font-style: italic;
	text-transform: capitalize;
}

.logo {
	height: 50px;
	width: 50px;
}
.hero {
	color:white;
}

/*==========================*/
/*quiz card*/
/*==========================*/

.quiz-card {
	width: 50%;
	border-radius: 5px;
	padding: 20px 40px;
	margin: 10px auto;
	box-shadow: 0 2px 8px 0 rgba(255, 252, 252, 0.2);
  transition: 0.3s;
}
.questions {
	display: flex;
	justify-content: space-around;
}

.quiz-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-container input {
	display: block;
}


/* code snippets */

.isCodeSnippet {
	color: black;
	background: white;
	padding: 23px;
}
.isCodeSnippet p {
	padding: 2px;
}

 .isAns {
	margin-top: 7px;
	padding: 5px 10px;
	background: rgb(64, 118, 236);
	color: white;
	border-radius: 6px;
	outline: none;
}
.isAns .fas {
	color: black;
	font-size: 19px;
	padding-right: 5px;
}
.descript {
	padding: 12px;
	background: #f5f2f0;
	margin-top: 4px;
	color:rgb(44, 44, 44);
	line-break: auto;
	word-wrap: none;
	word-spacing: 1px;
	word-break: keep-all;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.descript p{
	padding-top: 12px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.25px;
}