@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
  color: #C34f00;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
ul {
  display: inline;
}
.header-list{
  display: flex;
  justify-content: flex-start !important;
}
.header-list li{
  list-style: none;
  display: inline-block;
  padding: 1rem 0.75rem;
}
.header-main{
  display: contents;
  justify-content: space-around;
}
.header-main > div {
  padding: 0rem 1rem;
}
.logo {
  width: 65px;
  height: 65px;
}


/* control-btns */
.control-btns {
  display: flex;
  justify-content: end;
}
.btn {
  /* width: 100px; */
  min-width: 132px;
  /* height: 0px; */
  cursor: pointer;
  background-color: #fff;
  border: 2px solid rgba(208,215,218,.48);
  color: #002e43;
  font-size: 22px;
  outline: none;
  padding: 12px 24px;
  border-radius: 4px;
  margin-right: 16px;
}
.btn:hover {
  border: 2px solid #fa6500;
  transition: all .10s ease-in-out ;
  -webkit-transition: all .10s ease-in-out ;
  -moz-transition: all .10s ease-in-out ;
  -ms-transition: all .10s ease-in-out ;
  -o-transition: all .10s ease-in-out ;
}
li a{
  color: #002e43;
}
li .active {
  color: #fa6500;
  padding-bottom: 0.35rem;
  border-bottom: 0.25rem solid #fa6500;
}
.logout-btn {
  display: block;
  padding-left: 67px;
  padding-top: 0;
}