
/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');




/* .form-control {
	display: block;
} */




/* code editor styles */

.console{
  background: #002240;
  min-width: 300px;
  width: 100%;
  min-height: 50vh;
  margin: 0;
  padding: 0;
}
.editor {
  float: left;
}
#run {
  width: 100%;
}
.col-md-12,.col-md-8 {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.logo {
  width: 80px;
  height: 80px;
}



/* for btn
min-width: 150px;
    height: 100px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid rgba(208,215,218,.48);
    color: #002e43;
    font-size: 22px;
    outline: none;
    padding: 24px;
    border-radius: 4px;
    margin-right: 16px;
*/

/* ++++++++++++++++++ CUSTOM STYLES ++++++++++++++++++++++ */
:root {
	--bg-primary: #fff;
	--nav-color: #C34f00;
	--ques-color: #002e43;
  --btn-bg: #fa6500;
  --btn-color: #fff;
  --btn-hover: #C34f00;
	--font: 'Raleway', sans-serif;
	--btn-rgba: rgba(208, 218, 218, 0.48);
	--heading-color: #fff;
    font-size: 16px;
}

*, *:before, *:after {
	box-sizing: border-box;
}
/********* Clearfix *****/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}

/* main customs */
body {
  background-color: #fff;
  font-family: var(--font);
}
/* HEADER */
.header-nav {
  /* color: var(--nav-color) !important; */
  color: #15151E !important;
}
.header-border {
  border: 1px solid rgba(208,215,218,.48) !important;
  margin: orem 0rem;
  /* z-index: 1; */
  /* height: 1.25px !important; */
}
.primary-btn {
  min-width: 150px;
  height: 100px;
  cursor: pointer;
  border: 2px solid rgba(208,215,218,.48);
  color: #002e43 !important;
  font-size: 22px;
  outline: none;
  padding: 24px;
  border-radius: 4px;
  margin-right: 16px;
}

/* Navigation */
.navigation {
  display: flex;
  /* flex-wrap: wrap; */
  /* color: var(--nav-color); */
  /* color: #C34f00 !important; */
  /* justify-content: center; */
}
.isNavBar{
  list-style: none;
  display: flex;
  justify-content: space-between;

}
.isNavBar li {
  display: flex;
  justify-content: space-between; 

}




/* CUSTOM FOR LEADERBOARD COMPONENT */

table {
  margin: 0rem 1rem;
  position: relative;
  width: calc(90vw - 2rem);
  max-width: 800px;
  border-spacing: 0 1rem;
}
table:before {
  position: absolute;
  content: '';
  right: calc(100% + 1rem);
  top: 0;
  width: 1.5rem;
  border-radius: 5px;
  border: 1px solid #38383F;
  background: repeating-linear-gradient(-45deg, #15151E 0px, #15151E 4px, #38383F 4px, #38383F 8px);
}
table tr > * {
  text-align: center;
  padding: 0.5rem;
}
table tr > *:nth-child(2) {
  text-align: left;
}
table th {
  font-weight: 300;
  letter-spacing: 0.04rem;
  font-size: 0.9rem;
  /* color: #eee; */
  text-transform: uppercase;
}
table td.position {
  font-weight: 500;
}
table td.driver {
  padding-left: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}
table td.driver strong {
  text-transform: uppercase;
  font-weight: 500;
}
table td.driver span {
  text-transform: capitalize;
  margin-left: 0.75rem;
  font-size: 0.8rem;
  color: #999;
  letter-spacing: initial;
}
table td.gap span {
  background: #38383F;
  border-radius: 30px;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
/* on smaller viewports remove the third column from sight */
@media (max-width: 500px) {
  table tr > *:nth-child(3) {
    display: none;
  }
}

/* @import './App.css' */

/* userProfiles */

.isUserProfile {
  display: flex;
  flex-wrap: wrap;
}
.isUserProfile .isUserData {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.isUserProfile .avatar {
  display: grid;
  place-items: center;
  width: 55px;
  height: 55px;
  background: #002e43;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.isUserProfile .isUserName{
  padding: 0rem 0.75rem;
} 
/* .isLoggedUser {
  display: inline;
  margin: 0.025rem 1rem;
} */
.quiz-card {
  font-family: "roboto", sans-serif;
  letter-spacing: 0.65px;
  line-height: 1.5;
  word-spacing: 1px;
  border: 1px solid rgba(208, 218, 218, 0.48);
  margin-top: 30px !important;
  padding: 30px 20px !important;

}
.quiz-card:hover {
  border: 1px solid #32ed;

}
.options {
  line-height: 1.5;
}